.namep{background-color: black;
    color: white;
    padding: 10px;
}
.box{
    width: auto;
    height: auto;
}
.inppp{
    border:groove;
    height: 35px;
}
.btn btn-outline-primary{
    margin-right:100px;
    align-items: center;
}
